* {
    box-sizing: border-box;
  }
  
  /* общие настройки страницы */
  html, body {
    height: 100%;
  }
  
  body {
    background: black;
    min-height: 100%;
    font-family: "Arial", sans-serif;
  }
  
  .wrap {
    position: relative;
    height: 100%;
    min-height: 500px;
    padding-bottom: 20px;
  }
  
  /* блок с игрой */
  .game {
    transform-style: preserve-3d;
    perspective: 500px;
    min-height: 100%;
    height: 100%;
  }
  
  
  
  /* стили карточек */
  .card {
    float: left;
    width: 16.66666%;
    height: 25%;
    padding: 5px;
    text-align: center;
    display: block;
    perspective: 500px;
    position: relative;
    cursor: pointer;
    z-index: 50;
  }
  
  @media (max-width: 800px) {
    .card {
      width: 25%;
      height: 16.666%;
    }
  }
  
  /* обратная сторона карточки */
  .card .inside {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: 0.4s ease-in-out;
    background: white;
  }
  
  
  
  .card .front, .card .back {
    border: 1px solid black;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  
  .card .front img, .card .back img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }
  
  /* настройки лицевой стороны */
  .card .front {
    transform: rotateY(-180deg);
  }
  
  @media (max-width: 800px) {
    .card .front {
      padding: 5px;
    }
  
    .card .back {
      padding: 10px;
    }
  }
  
  .card .inside.picked, .card .inside.matched {
    transform: rotateY(180deg);
  }
  
  @keyframes matchAnim {
    0% {
      background: #bcffcc;
    }
    100% {
      backgroud: white;
    }
  }
  
  @-webkit-keyframes matchAnim {
    0% {
      background: #bcffcc;
    }
    100% {
      background: white;
    }
  }
  
  .card .inside.matched {
    -webkit-animation: 1s matchAnim ease-in-out;
            animation: 1s matchAnim ease-in-out;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .modal-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* настройки модального окна */
  .modal {
    display: none;
    position: relative;
    width: 500px;
    height: 300px;
    max-height: 90%;
    max-width: 90%;
    min-height: 380px;
    margin: 0 auto;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 10px;
  }
  
  /* настройки сообщения о победе */
  .modal .winner {
    font-size: 80px;
    text-align: center;
    color: #4d4d4d;
    text-shadow: 0px 3px 0 black;
  }
  

  @media (max-width: 480px) {
    .modal .winner {
      font-size: 60px;
    }
  }
    cursor: pointer;
  }
  
  /* меняем фон при наведении мышки на кнопку */
  .modal .restart:hover {
    background: linear-gradient(#222, black);
  }
  
  /* выравниваем надписи на модальном окне по центру */
  .modal .message {
    text-align: center;
  }
